@using UxComexGerenciadorPedidos.Domain.Entities



<div class="container border border-1 p-2  bg-dark">
    <div class="col-sm-12">
        <h1 class="display-6 text-center text-danger">Saved Orders</h1>
    </div>
    <form class="row" method="GET" id="frmFilterOrder">
        <div class="d-inline-flex col justify-content-end">
            <div class="col-sm-auto d-block p-1">
                <label for="inp_FilterOrderByClient" class="text-white form-label-sm form-control-sm">Filter by Client:</label>
            </div>
            <div class="col-sm-4 p-1">
                <input type="text" class="form-control form-control-sm" id="txtFilterOrderByName" name="txtFilterOrderByName" placeholder="Enter the Client's name" />
            </div>

            <div class="col-sm-auto d-block p-1">
                <label for="inp_FilterOrderByClient" class="text-white form-label-sm form-control-sm">Filter by Status:</label>
            </div>
            <div class="col-sm-auto p-1">
                <select class="form-select-sm form-control-sm" id="cbOrderStatus">
                    <option value="-1">All</option>
                    <option value="0">New</option>
                    <option value="1">Processing</option>
                    <option value="2">Completed</option>
                    <option value="3">Cancelled</option>
                </select>
            </div>
            <div class="col-sm-auto p-1">
                <form method="GET" id="frmFilterOrder">
                    <input type="submit" class="btn-primary form-control form-control-sm m-0 text-decoration-none" id="btnFilterOrderByClientOrStatus" value="Filter"/>
                </form>              
            </div>
            <div class="col-sm-auto p-1">
                <a class="btn-danger form-control form-control-sm m-0 text-decoration-none" asp-area="" asp-controller="Order" asp-action="NewOrder">New Order</a>
            </div>
        </div>
    </form>
    <div class="row w-auto">
        <div class="d-inline-flex col justify-content-end">
            <div class="col-sm-auto d-block p-1">
                <label for="inp_FilterOrderByClient" class="text-white form-label-sm">Total de Itens: <span class="badge rounded-pill bg-danger" id="spTotalItems">@ViewBag.TotalItems</span></label>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <tbody>
        <tr>
            <td class="text-white fw-bold w-50 text-center" style="background-color:dimgray;">Client</td>
            <td class="text-white fw-bold text-center" style="background-color:#848b83;width:160px;">Date Order</td>
            <td class="text-white fw-bold text-center" style="background-color:#848b83;width:130px;">Total Value</td>
            <td class="text-white fw-bold text-center" style="background-color:#848b83;width:130px;">Status</td>
            <td class="text-white fw-bold w-auto text-center" style="background-color:#848b83;"></td>
        </tr>
    </tbody>
</table>

<div id="lstOrders" class="overflow-scroll overflow-hidden" style="height:400px;">
    <table class="table table-sm table-bordered">
        <tbody>
            @{
                List<Client>? clients = ViewBag.ListOrderClients;
            }
            @foreach (Order order in @ViewBag.ListAllOrders)
            {
                Client? client = clients.ToList().Where(p => p.Id == order.IdClient).FirstOrDefault();
                String ClientName = @client?.Name ?? "";
                <tr>
                    <td class="w-50 text-center">@ClientName</td>
                    <td class="text-center" style="width:220px;">@order.DateOrder</td>
                    <td class="text-center" style="width:230px;">@order.TotalValue.ToString("C2")</td>
                    <td class="text-center" style="width:230px;">@order.PrintStatus()</td>
                    <td class="p-0 text-center" style="width:150px;">
                        <div class="d-inline-flex col align-content-center">
                            <div class="col-sm-auto p-1">
                                <form method="POST" action="/Order/UpdateOrder?Id=@order.Id">
                                    <input type="submit" value="Update" class="btn-primary form-control form-control-sm m-0 text-decoration-none" />
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>