@using UxComexGerenciadorPedidos.Domain.Entities
@using UxComexGerenciadorPedidos.Domain.Business

<div class="container w-100">
    <div class="container border border-1 p-2 bg-dark">
        <div class="col-sm-auto d-block p-1">
            <h1 class="display-6 text-danger text-center">Update the Order</h1>
        </div>
        <div class="row w-auto">
            <div class="d-inline-flex col justify-content-end">
                <div class="row w-auto">
                    <div class="d-inline-flex col justify-content-end">
                        <div class="col-sm-auto d-block p-1">
                            <label for="inp_FilterOrderByClient" class="text-white form-label">
                                Total: <span class="badge rounded-pill bg-danger fs-5" id="vlTotal"></span><br /><br /><span id="quantityOfItems"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container border border-1 p-4" style="background-color:#606060;">
        <form class="row g-3 align-content-center" id="frmNewOrder">
            <div class="row justify-content-start">
                <div class="col-auto justify-content-center d-flex flex-column align-items-start">
                    <label for="cmbClients" class="form-label">Client: </label>
                </div>
                <div class="col-md-5 justify-content-center">
                    <input type="number" class="form-control form-control-sm" id="txtOrderClientName" value="Client Name" />
                </div>
            </div>

            <div class="col-md-5 justify-content-center">
                <label for="txtProductName" class="form-label">Products</label>
                <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" id="cmbProducts">
                    @foreach (Product product in ViewBag.ListOrderProducts)
                    {
                        <option value="@product.Id">@product.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-3 justify-content-center">
                <label for="inputQuantity" class="form-label">Quantity</label>
                <input type="number" class="form-control form-control-sm" id="inputQuantity">
            </div>
            <div class="col-md-3 justify-content-center">
                <label for="inputQuantity" class="form-label"><br /></label>
                <button type="submit" class="btn-primary form-control form-control-sm">Insert</button>
            </div>
        </form>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td class="w-50 text-center text-white fw-bold" style="background-color:#848b83;">Product</td>
                <td class="w-25 text-center text-white fw-bold" style="background-color:#848b83;">Quantity</td>
                <td class="w-25 text-center text-white fw-bold" style="background-color:#848b83;">Price</td>
            </tr>
        </tbody>
    </table>
    <div id="pnlOrderItems" class="overflow-auto overflow-hidden border-1" style="height:400px;">
        <table class="table table-bordered">
            <tbody>
                @{
                    List<Product>? products = ViewBag.ListOrderProducts;
                    Int32 QuantityOfItems = 0;
                    Decimal TotalValue = ViewBag.TotalValueOrder ?? new Decimal(0.0);
                }
                @if (ViewBag.ListItemsOfMenu != null)
                {
                    @foreach (OrderItem item in ViewBag.ListItemsOfMenu)
                    {
                        Product? product = products.Where(p => p.Id == item.IdProduct).FirstOrDefault();

                        <tr>
                            <td class="text-center w-50">@product?.Name<input type="hidden" id="inputHiddenProductPrice" value="@product?.Price??0.0" /></td>
                            <td class="text-center w-25">@item.Quantity</td>
                            <td class="text-center w-25">@item.UnityPrice</td>
                        </tr>
                        QuantityOfItems++;
                    }}
            </tbody>
        </table>
    </div>

    <form class="row g-1 justify-content-center" id="frmSaveOrder">
        <div class="col-md-3 justify-content-center">
            <input type="hidden" value="" />
            <button type="submit" class="btn-primary form-control form-control-sm">Save</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        $("#vlTotal").text('@TotalValue.ToString("C2")');
        $("#quantityOfItems").text('Quantity of Items: @QuantityOfItems');

        $("#frmNewOrder").submit(function (event) {
            event.preventDefault();
            var idProduct = $("#cmbProducts option:selected").val();
            var quantity = $("#inputQuantity").val() ?? 0;

            var productName = $("#cmbProducts option:selected").text();
            var clientName = $("#cmbClients option:selected").text();

            $.ajax({
                url: "/Order/NewOrderItem",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ quantity: quantity, idProduct: idProduct }),
                success: function (data) {
                    console.log(data.quantityOfStockIsEmpty)
                    if (!data.quantityOfStockIsEmpty) {
                        $("#pnlOrderItems").empty();
                        var tbl = "";
                        tbl += '<table class="table table-bordered">';
                        tbl += '    <tbody>';

                        var TotalItems = 0;
                        var ValueTotalOrder = 0.0;
                        console.log(JSON.stringify(data));
                        data.forEach(function (orderItem) {
                            tbl += '<tr>';
                            tbl += '    <td class="text-center w-50">' + orderItem.productName + '</td>';
                            tbl += '    <td class="text-center w-25">' + orderItem.quantity + '</td>';
                            tbl += '    <td class="text-center w-25">' + orderItem.unityPrice.toLocaleString("pt-BR", { style: "currency", currency: "BRL" }) + '</td>';
                            tbl += '</tr>';
                            TotalItems++;

                            ValueTotalOrder += (orderItem.unityPrice * orderItem.quantity);
                        });

                        tbl += '    </tbody>';
                        tbl += '</table>';

                        $("#pnlOrderItems").html(tbl);
                        $("#vlTotal").text(ValueTotalOrder.toLocaleString("pt-BR", { style: "currency", currency: "BRL" }))
                        $("#quantityOfItems").text('Quantity of Items: ' + TotalItems);
                    }
                    else {
                        alert("The quantity " + data.quantity + " of ''" + data.productName + "'' not available in Stock")
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        });

        $("#frmSaveOrder").submit(function (event) {
            event.preventDefault();
            var idClient = $("#cmbClients option:selected").val();
            alert(idClient)
            $.ajax({
                url: "/Order/Save",
                method: "POST",
                contentType: "application/json",
                data: idClient,
                success: function (data) {
                    console.log(1)
                },
                error: function (error) {
                    console.log(error);
                }
            })
        });
    });
</script>






















