@using UxComexGerenciadorPedidos.Domain.Entities;

<div class="container border border-1 p-2 bg-dark">
    <div class="col-sm-12">
        <h1 class="display-6 text-center text-danger">Products Registered</h1>
    </div>
    <div class="row w-auto">
        <div class="d-inline-flex col justify-content-end">
            <div class="col-sm-auto d-block p-1">
                <label for="inp_FilterOrderByClient" class="text-white form-label-sm form-control-sm">Filter by Product:</label>
            </div>
            <div class="col-sm-4 p-1">
                <input type="text" class="form-control form-control-sm" id="inputFilterProductByName" name="inputFilterProductByName" placeholder="Filter by Product Name">
            </div>
            <div class="col-sm-auto p-1">
                <form method="GET" id="frmFilterProduct">
                    <input type="submit" class="btn-primary form-control form-control-sm m-0 text-decoration-none" id="btnFilterProductByName" value="Filter" />
                </form>
            </div>
            <div class="col-sm-auto p-1">
                <a class="btn-danger form-control form-control-sm m-0 text-decoration-none" asp-controller="Product" asp-action="NewProduct">New Product</a>
            </div>
        </div>
    </div>
    <div class="row w-auto">
        <div class="d-inline-flex col justify-content-end">
            <div class="col-sm-auto d-block p-1">
                <label for="inp_FilterOrderByClient" class="text-white form-label-sm">Total de Itens: <span class="badge rounded-pill bg-danger" id="spTotalItems">@ViewBag.TotalItems</span></label>
            </div>
        </div>
    </div>
</div>

<table class="table border-0" id="tbl">
    <tbody>
        <tr>
            <td class="text-white fw-bold text-center" style="background-color:dimgray;width:330px">Name</td>
            <td class="text-white fw-bold text-center" style="background-color:#848b83;width:330px">Description</td>
            <td class="text-white fw-bold text-center" style="background-color:#848b83;width:100px">Price</td>
            <td class="text-white fw-bold text-center" style="background-color:#848b83;width:200px">Quantity of Stock</td>
            <td class="text-white fw-bold w-auto text-center" style="background-color:#848b83;"></td>
        </tr>
    </tbody>
</table>

<div id="lstProducts" class="overflow-scroll overflow-hidden" style="height:300px;">
    <table class="table table-sm table-bordered" id="tbl">
        <tbody>
            @foreach (Product product in @ViewBag.ListAllProducts)
            {
                <tr>
                    <td class="text-center" style="width:400px;">@product.Name</td>
                    <td class="text-center" style="width:400px;">@product.Description</td>
                    <td class="text-center" style="width:100px;">@product.Price.ToString("C2")</td>
                    <td class="text-center" style="width:200px;">@product.QuantityOfStock</td>
                    <td class="text-center" style="width:150px;">
                        <div class="d-inline-flex col align-content-center">
                            <div class="col-sm-auto p-1">
                                <form method="POST" action="/Product/UpdateProduct?Id=@product.Id">
                                    <input type="submit" value="Update" class="btn-primary form-control form-control-sm m-0 text-decoration-none" />
                                </form>
                            </div>
                            <div class="col-sm-auto p-1">
                                <form method="POST" action="/Product/Delete?Id=@product.Id">
                                    <input type="submit" value="Delete" class="btn-danger form-control form-control-sm m-0 text-decoration-none" />
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




