@using UxComexGerenciadorPedidos.Domain.Entities;

<div class="container border border-1">
    <div class="text-center">
        <h1 class="display-4 text-danger">Products Registered</h1>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="col-auto">
            <form class="row g-3" method="GET" id="frmFilterProduct">
                <div class="col-auto">
                    <label for="inp_FilterProductByName" class="label">Filter by Product:</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="inputFilterProductByName" name="inputFilterProductByName" placeholder="Filter by Product Name">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" id="btnFilterProductByName">Filter</button>
                </div>
            </form>
        </div>
        <div class="col-auto">
            <a class="btn btn-danger form-control m-0" asp-area="" asp-controller="Product" asp-action="NewProduct">New Product</a>
        </div>
    </div>
</div>

<div id="lstProducts">
    <table class="table table-hover" id="tbl">
        <thead>
            <tr>
                <th colspan="5" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">Name</td>
                <td class="text-center">Description</td>
                <td class="text-center">Price</td>
                <td class="text-center">Quantity of Stock</td>
                <td class="text-center"></td>
            </tr>

            @foreach (Product product in @ViewBag.ListAllProducts)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td class="text-center">@product.Price.ToString("C2")</td>
                    <td class="text-center">@product.QuantityOfStock</td>
                    <td class="p-2">
                        <div class="row justify-content-center">
                            <div class="col-sm-4">
                                <form method="post" action="/Product/Update?Id=@product.Id">
                                    <input type="submit" value="Edit" class="btn btn-info form-control-sm" />
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form method="post" action="/Product/Delete?Id=@product.Id">
                                    <input type="submit" value="Delete" class="btn btn-danger form-control-sm " />
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5" class="text-end">Total de Itens: @ViewBag.TotalItems</th>
            </tr>
        </tfoot>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        $("#frmFilterProduct").submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: "/Product/ListProducts/Filter?name=" + encodeURIComponent($("#inputFilterProductByName").val() ?? ""),
                method: "GET",
                success: function (data) {
                    $("#lstProducts").empty();

                    var tbl = '<table class="table table-hover" id = "tbl">';
                    tbl += '<thead>';
                    tbl += '    <tr>';
                    tbl += ' <th colspan="5" class="text-center" > </th>';
                    tbl += '      </tr>';
                    tbl += '</thead>';
                    tbl += '   <tbody>'
                    tbl += '        <tr>';
                    tbl += '             <td class="text-center">Name </td>';
                    tbl += '             <td class="text-center">Description </td>';
                    tbl += '             <td class="text-center">Price </td>';
                    tbl += '             <td class="text-center">Quantity of Stock </td>';
                    tbl += '             <td class="text-center"></td>';
                    tbl += '        </tr>';
                    var TotalItems = 0;

                    data.forEach(function (product) {
                        tbl += '    <tr>';
                        tbl += '        <td>' + product.name + '</td>';
                        tbl += '        <td>' + product.description + '</td>';
                        tbl += '        <td class="text-center">' + product.price.toLocaleString("pt-BR",{style:"currency",currency:"BRL"}) + '</td>';
                        tbl += '        <td class="text-center">' + product.quantityOfStock.toLocaleString("pt-BR", {style:"currency", currency:"BRL"}) + '</td>';
                        tbl += '        <td><form method="post" action = "/Product/Delete?Id=' + product.Id + '" > <input type="submit" value = "Delete Product" class="btn btn-danger form-control-sm" /> </form></td >';
                        tbl += '    </tr>';
                        TotalItems++;
                    })

                    tbl += '  </tbody>';
                    tbl += '    <tfoot>';
                    tbl += '     <tr>';
                    tbl += '         <th colspan="5" class="text-end"> Total de Itens: ' + TotalItems + '</th>';
                    tbl += '     </tr>';
                    tbl += '  </tfoot>';
                    tbl += '  </table>';

                    $("#lstProducts").html(tbl);
                },
                error: function (xhr, status, error) {
                    console.error('Erro na requisição:', error);
                }
            });

        });
    });
</script>