@using UxComexGerenciadorPedidos.Domain.Entities

<div class="container border border-1 p-2 bg-dark">
    <div class="col-sm-12">
        <h1 class="display-6 text-center text-danger">Clients Recordeds</h1>
    </div>
    <div class="row w-auto">
        <div class="d-inline-flex col justify-content-end">
            <div class="col-sm-auto d-block p-1">
                <label for="inp_FilterClientByName" class="text-white form-label-sm form-control-sm">Filter by Client:</label>
            </div>
            <div class="col-sm-4 p-1">
                <input type="text" class="form-control form-control-sm" id="inputFilterClientByNameOrEmail" name="inputFilterClientByNameOrEmail" placeholder="Filter by Client Name or Email">
            </div>
            <div class="col-sm-auto p-1">
                <form method="GET" id="frmFilterClient">
                    <input type="submit" class="btn-primary form-control form-control-sm m-0 text-decoration-none" id="btnFilterClientByName" value="Filter" />
                </form>
            </div>
            <div class="col-sm-auto p-1">
                <a class="btn-danger form-control form-control-sm m-0 text-decoration-none" asp-controller="Client" asp-action="NewClient">New Client</a>
            </div>
        </div>
    </div>
    <div class="row w-auto">
        <div class="d-inline-flex col justify-content-end">
            <div class="col-sm-auto d-block p-1">
                <label for="inp_FilterOrderByClient" class="text-white form-label-sm">Total de Itens: <span class="badge rounded-pill bg-danger" id="spTotalItems">@ViewBag.TotalItems</span></label>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover">
    <tbody>
        <tr>
            <td class="text-white fw-bold text-center" style="background-color:dimgray;width:280px">Name</td>
            <td class="text-white fw-bold text-center" style="background-color:#848b83;width:280px">Email</td>
            <td class="text-white fw-bold text-center" style="background-color:#848b83;width:200px">Telephone</td>
            <td class="text-white fw-bold text-center" style="background-color:#848b83;width:200px">Data Register</td>
            <td class="text-white fw-bold w-auto text-center" style="background-color:#848b83;width:200px"></td>
        </tr>
    </tbody>
</table>

<div id="lstClients">
    <table class="table table-sm table-bordered" id="tbl">
        <tbody>
            @foreach (Client client in @ViewBag.ListAllClients)
            {
                Int32 ClientId = client.Id;
                String ClientName = @client?.Name ?? String.Empty;
                String ClientEmail = @client?.Email ?? String.Empty;
                String ClientTelephone = @client?.Telephone ?? String.Empty;
                DateTime? ClientDateRegister = @client?.DateRegister??new DateTime();

                <tr>
                    <td class="text-center" style="width:320px;">@ClientName</td>
                    <td class="text-center" style="width:320px;">@ClientEmail</td>
                    <td class="text-center" style="width:150px;">@ClientTelephone</td>
                    <td class="text-center" style="width:250px;">@ClientDateRegister</td>
                    <td class="p-2 text-center" style="width:150px;">
                        <div class="d-inline-flex col align-content-center">
                            <div class="col-sm-auto p-1">
                                <form method="post" action="/Client/UpdateClient?Id=@ClientId">
                                    <input type="submit" value="Update" class="btn-primary form-control form-control-sm m-0 text-decoration-none" />
                                </form>
                            </div>
                            <div class="col-sm-auto p-1">
                                <form method="post" action="/Client/Delete?Id=@ClientId">
                                    <input type="submit" value="Delete" class="btn-danger form-control form-control-sm m-0 text-decoration-none" />
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>